html {
  height: 100%;
}

body {
  margin: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100%;
}

a {
  color: #00b7ff;
}

#contents {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#header {
  background-color: #ffc107;
  display: flex;
  flex-direction: row;
  height: 45px;
}

.header_left {
  flex: 1;
  display: flex;
}

/* タイトル */
#title {
  width: 180px;
  padding-left: 8px;
  padding-top: 2px;
  display: flex;
  flex-direction: column;
  background-color: rgb(49, 49, 49);
  color: whitesmoke;
}

#title_text {
  font-size: 15px;
  font-weight: bolder;
}

#title_version {
  font-size: x-small;
  margin-top: 2px;
  text-align: right;
  margin-right: 6px;
}

/* ボタン類(実行ボタン) */
.controller_execute {
  flex: 1;
  text-align: left;
  padding-left: 20px;
}

.execute_button {
  height: 100%;
  background-color: #ffc107;
  border: none;
  outline: none;
}

.execute_button_img {
  width: 24px;
  height: 24px;
}

.execute_button_text {
  font-size: smaller;
}

#controller {
  flex: 1;
  text-align: right;
  margin-right: 30px;
}

#discover_button {
  height: 100%;
  background-color: #ffc107;
  border: none;
  outline: none;
}

#discover_button_img {
  width: 24px;
  height: 24px;
}

#documentation_button {
  height: 100%;
  background-color: #ffc107;
  border: none;
  outline: none;
}

#documentation_button_img {
  width: 24px;
  height: 24px;
}

#container {
  display: flex;
  flex-direction: row;
  flex: 1;
}

#editor {
  border-top: whitesmoke 2px solid;
  border-right: whitesmoke 2px solid;
  border-left: whitesmoke 2px solid;
  border-bottom: whitesmoke 2px solid;
  min-width: 620px;
  resize: horizontal;
  overflow: hidden;
}

/* キャンバス領域 */
#canvas_area {
  border-top: whitesmoke 2px solid;
  border-right: whitesmoke 2px solid;
  border-bottom: whitesmoke 2px solid;
  min-width: 620px;
  flex: 1;
  text-align: center;
}

/* キャンバスヘッダー */
.canvas_area_header {
  display: flex;
  flex-direction: row;
  border-bottom: lightgray 1px solid;
}

.canvas_area_header_item {
  font-size: smaller;
  color: lightgray;
  padding-top: 8px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 11px;
}

.canvas_area_header_item_selected {
  font-size: smaller;
  color: dimgray;
  padding-top: 8px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  border-bottom: #00b7ff solid 3px;
}

.drop_area {
  background-color: #e7e7e7;
  margin-top: 12px;
  margin-left: 12px;
  margin-right: 12px;
  font-size: small;
}

.preview_area {
  display: flex;
}

#preview {
  width: 600px;
  height: 400px;
  margin: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.preview_area_left {
  margin-top: 10px;
  margin-bottom: 10px;
  flex: 1;
}

.preview_area_right {
  margin-top: 10px;
  margin-bottom: 10px;
  flex: 1;
}

#preview_left {
  width: 300px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
}

#preview_right {
  width: 300px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
}

#preview_video {
  width: 600px;
  height: 450px;
  margin-left: auto;
  margin-right: auto;
}

#output_canvas_video {
  width: 600px;
  height: 450px;
  margin-left: auto;
  margin-right: auto;
}

.video_start_button {
  background-color: #00b7ff;
  width: 64px;
  height: 32px;
  line-height: 32px;
  color: whitesmoke;
  border-radius: 5%;
  margin: 10px;
  font-weight: bold;
  border: lightgray 1px solid;
}

.video_stop_button {
  background-color: #ff4400;
  width: 64px;
  height: 32px;
  line-height: 32px;
  color: whitesmoke;
  border-radius: 5%;
  margin: 10px;
  font-weight: bold;
  border: lightgray 1px solid;
}

/* 保存モーダル */
.save_modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal_content {
  background-color: white;
  width: 500px;
  margin: 20% auto;
}

.modal_body {
  display: flex;
  flex-direction: column;
  padding: 8px;
}

.modal_subtitle {
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;
}

.modal_button {
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;
}

.modal_input {
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;
}

.modal_button_container {
  text-align: center;
}

/* 通知モーダル */
.notification_modal {
  display: none;
  position: fixed;
  z-index: 1;
  right: 3%;
  bottom: 3%;
  height: 65px;
  width: 300px;
  overflow: hidden;
  border-radius: 3%;
  background-color: #21bf73;
  color: white;
  font-size: large;
  line-height: 65px;
  padding-left: 10px;
}

.notification_modal_error {
  display: none;
  position: fixed;
  z-index: 1;
  right: 3%;
  bottom: 3%;
  width: 300px;
  overflow: hidden;
  border-radius: 3%;
  background-color: rgba(228, 29, 29, 0.829);
  color: white;
  font-size: smaller;
  padding: 10px;
}

#success_button_img {
  width: 32px;
  height: 32px;
}
